<h1>Listing barcodes</h1>

<div id="barcodes"></div>



<script type="text/javascript">
  $(function() {
    // Blog is the app name
    BarcodeApp.realtime.connect();
    window.router = new BarcodeApp.Routers.BarcodesRouter({barcodes: <%= @barcodes.to_json.html_safe -%>});
    Backbone.history.start({pushState: true});
  });
</script>
