<h1>Edit barcode</h1>

<form id="edit-barcode" name="barcode">
  <div class="field">
    <label for="user_id"> user_id:</label>
    <input type="text" name="user_id" id="user_id" value="<%= user_id %>" >
  </div>

  <div class="field">
    <label for="data"> data:</label>
    <input type="text" name="data" id="data" value="<%= data %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Barcode" />
  </div>

</form>

<a href="#/index">Back</a>